.float{
	position:fixed;}
.center{
	justify-content: center;}
.cont-box{
	background: url(images/count-bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	min-height : 50vh;}

.our-team .team-content{
	background: #8dbd58;
    width: 100%;
   
    color: #fff;
    padding: 15px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;}
.our-team{
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 7px 10px #2d313c;}
.our-team:hover .team-content{
    padding-bottom: 100px;
    box-shadow: 0 7px 10px #2d313c;}
.our-team .team-content:before,
.our-team .team-content:after{
    content: "";
    width: 60%;
    height: 60px;
   	background: #8dbd58;
    position: absolute;
    top: -18px;
    transform: rotate(15deg);
    z-index: -1;}
.our-team .team-content:before{
    left: -3%;
}
.our-team .team-content:after{
    right: -3%;
    transform: rotate(-15deg);}
.cont-box::before{
	content: "" ;
	position: absolute;
	background: rgba(198,171,118,0.5);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;}
.inner-cont-box{
	text-align: center;}
.inner-cont-box i{
	font-size: 78px;
	color: #ffffff;}
.inner-cont-box h3{
	font-weight: 600;
	font-size: 38px;
	color: #ffffff;}
.inner-cont-box h4{
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;}
.services-inner-box{
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 0px 10px;
	box-shadow: 0 7px 10px #e6e6e6;
	text-align: center;
	background: rgba(0,171,0,0.9);}
.sidebar2{
	padding: 30px;
	min-height:400px;
	max-height:500px;
	margin-bottom: 30px;
	border-radius: 0px 10px;
	box-shadow: 0 7px 10px #2d313c;
	background: #75729c;
	text-align: center;}
.my{

	background: rgba(0,0,0,0.7);}
.ser-icon{
	width: 250px;
	text-align: center;
	line-height: 90px;
	background: #8dbd56;
	margin: 0 auto;}
.ser-icon i{
	font-size: 50px;
	color: #ffffff;}
.services-inner-box h2{
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;}
.services-inner-box a{
	color: #ffffff;
	background: #664a3f;
	padding: 10px 18px;
	font-size: 16px;}
.computer{
	width: 70px;
	height: 70px;
	background-size: 70px 70px, cover;}
.picon{
	width: 70px;
	height: 70px;	
	background-size: 70px 70px, cover;}
.sliderx{
  	min-height: 50vh;
	max-height: 100vh;}
.letsgo{
	width: 70px;
	height: 70px;
	background: url(images/letsgo.png);
	background-size: 70px 70px, cover;}
*{
  text-Decoration: None !important; 
  text-decoration: inherit;}
.banner2 {
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);	}
.banner{
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #114671 0%, #723875 100%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #114771 0%, #293675 100%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #116771 0%, #293875 100%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #114791 0%, #2C9975 100%);
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);}
.banner3 {
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #46E18F 0%, #723875 100%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #46E18F 0%, #293675 100%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #46E18F 0%, #293875 100%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #46E18F 0%, #2C9975 100%);
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);	}
.font{
font-family: 'Sacramento', cursive;}
.color{
color: rgba(255, 255, 255, 1);}
.white{
color: rgb(255,255,255);}
.dark{
color: #000000;}
.content {
  width: 100%;
  padding: 0;
  min-height: 50vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* Side bar */
#sidebar {

  min-width: 250px;
  max-width: 250px;
  background: rgba(110,111,11,0.6);
  color: #fff;
  -webkit-transition: all 0.3s;
  
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
  #sidebar .h6 {
    color: #fff; }
  #sidebar.active {
    margin-left: -250px; }
    #sidebar.active .custom-menu {
      margin-right: -50px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700; }
    #sidebar h1 .logo {
      color: #fff; }
  #sidebar ul.components {
    padding: 0; 
    }
  #sidebar ul li {
    font-size: 16px;
     }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
       overflow-y: scroll;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        color: #fff; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -50px !important;
         overflow-y: scroll;
        top: 10px !important; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
         overflow-y: scroll;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      #sidebar .custom-menu .btn.btn-primary {
        background: #6749b9;
        border-color: #6749b9; }
        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
          background: #6749b9 !important;
          border-color: #6749b9 !important; }

/* side bar finish */



.inner {
			margin-left: auto;
			margin-right: auto;
			max-width: 70em;
			width: 100%;
		}

	.split {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 2em;
	}

		.split > * {
			width: 50%;
		}

			.split > *:nth-child(odd) {
				padding-right: 3em;
			}

			.split > *:nth-child(even) {
				padding-left: 3em;
				border-left: solid 2px;
			}

			.split > * > :last-child,
			.split > * > :last-child > :last-child,
			.split > * > :last-child > :last-child > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 980px) {

			.split > :nth-child(odd) {
				padding-right: 2em;
			}

			.split > :nth-child(even) {
				padding-left: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			.split {
				padding-bottom: 0;
			}

				.split > * {
					width: 100%;
					margin-bottom: 2em;
				}

					.split > *:nth-child(odd) {
						padding-right: 0;
					}

					.split > *:nth-child(even) {
						border-left: none;
						padding-left: 0;
					}

		}

	.split > :nth-child(even) {
		border-left-color: rgba(144, 144, 144, 0.25);
	}
 @media screen and (max-width: 1366px) {

			#banner {
				padding: 10em 2.5em 3em;
			}

				#banner h2 {
					font-size: 2em;
				}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 10em 2em 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 8em 2em 2em;
			}

				#banner h2 {
					font-size: 1.75em;
				}

				#banner p {
					font-size: 1.1em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 8em 2em 2em;
			}

		}

li{
   list-style: none;
   
}
ul.checklist li::before{
	content: '';
  	display: inline-block;
   	background-image: url("images/ch.png");
	margin-right: 0.75em;
	background-size: 15px;
	height: 15px;
   	width: 15px;
}


.spotlight {
				
	background-color: rgba(144, 144, 144, 0.10);
	border-bottom-color: rgba(255, 255, 255, 0.50);
	}
.slider-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.in-box{
	background: #;
	display: inline-block;
	padding: 40px;
	position: relative;
	border: 20px solid #;
}

.in-box::before{
	border: 10px solid #ffffff;
	content: "";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}
.in-box2{
	background: rgba(18,71,18,0.5);
	display: inline-block;
	padding: 40px;
	position: relative;
	border: 20px solid #2d313c
}
.hr{
border: 10px solid #eeeeee;
border-radius: 10px 10px;
}
.in-box2::before{
	border: 10px solid #fff;
	content: "";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}
.in-box h2{
	color: #ffffff;
	font-size: 38px;
	font-weight: 500;
}
.in-box p{
	font-size: 18px;
	color: #ffffff;
	font-weight: 200;
}

.in-box a{
	background: #;
	font-size: 18px;
	padding: 10px 20px;
	color: #ffffff;
	box-shadow: 0 1px 5px #664a3f;
}
.in-box a:hover{
	color: #f58f5c;
}

.hvr-radial-in::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ee7655;
	border-radius: 100%;
	-webkit-transform: scale(2);
	transform: scale(2);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-radial-in:hover::before, .hvr-radial-in:focus::before, .hvr-radial-in:active::before {
    -webkit-transform: scale(0);
	transform: scale(0);
}

.hvr-radial-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	background: #e1e1e1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;	
}
.container-wrapper {
  max-width: 1170px;
  margin: 0 auto; }
.menu-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  }
